.app-btn {
  margin: 0 0 0 15px;
  border: 2px solid #8c2f39;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
  cursor: pointer;
}

.app-btn:hover {
  background: #b23a48;
  color: #fff;
}

@media (max-width: 992px) {
  .app-btn {
    margin: 0 15px 0 0;
    padding: 8px 20px;
  }
}
