.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
  border: 2px solid #b23a48;
  text-decoration: none;
}

.back-to-top i {
  font-size: 28px;
  color: #b23a48;
  line-height: 0;
}

.back-to-top:hover {
  background: #b23a48;
  color: #1a1814;
}

.back-to-top:hover i {
  color: #444444;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
