#hero {
  width: 100%;
  height: 100vh;
  background: url("/assets/bg.jpg") top center;
  background-size: cover;
  position: relative;
  padding: 0;
}

#hero::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
}

#hero .container {
  padding-top: 110px;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 98px;
  }
}

#hero h1 {
  margin: 0;
  font-size: 8rem;
  font-weight: 700;
  line-height: 7.5rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

#hero h1 span {
  color: #b23a48;
}

#hero h2 {
  color: #eee;
  margin: 10px 0 0 0;
  font-size: 2rem;
}

#hero .btns {
  margin-top: 30px;
}

#hero .play-btn {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  background: radial-gradient(#b23a48 50%, rgba(205, 164, 94, 0.4) 52%);
  display: block;
  position: relative;
  overflow: hidden;
}

#hero .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 2;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#hero .play-btn::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  animation: pulsate-btn 2s infinite ease-out;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(205, 164, 94, 0.7);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}

#hero .play-btn:hover::after {
  border-left: 15px solid #8c2f39;
  transform: translateX(-40%) translateY(-50%) scale(20);
}

#hero .play-btn:hover::before {
  animation: none;
  opacity: 0;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (min-width: 992px) {
  #hero .play-btn {
    margin-top: 30px;
  }
}

/* Mobile adjustments (these should be max-width) */
@media (max-width: 500px) {
  #hero {
    height: auto;
  }
  #hero .container {
    padding-top: 130px;
    padding-bottom: 60px;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
