#hero .btn-hero {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: #fff;
  border: 2px solid #b23a48;
  cursor: pointer;
  margin-inline-start: 1.5rem;
}

#hero .btn-hero:hover {
  background: #b23a48;
  color: #fff;
}
